body {
  background-color: rgb(218, 218, 218);
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.right {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  position: relative;
  margin: auto;
  width: 500px;
  background-color: white;
  box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.75);
  padding: 20px;
  border-radius: 30px;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
}

.pretty-input {
  display: block;
  margin: 2em auto;
  border: none;
  padding: 0;
  width: 12ch;
  background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/ 11.5ch 2px no-repeat;
  font: 5ch droid sans mono, consolas, monospace;
  letter-spacing: 0.5ch;
}
.pretty-input:focus {
  outline: none;
  color: dodgerblue;
}

.group {
  width: 100%;
  height: 110px;
  overflow: hidden;
  position: relative;
}

.decimal-input {
  border-radius: 30px !important; 
  height: 30px;
  line-height: 30px;
  display: block;
  width: 100%;
  padding: 30px;
  border: none;
  border-radius: 0;
  color: white;
  background: #333;
  font-size: 36.6666666667px;
  transition: 0.3s ease;
}

.decimal-input:focus {
  outline: none;
}

@media(max-width: 600px) {
  .app{
    width: 100%;
    height: 100%;
  }

  .box {
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }

  .decimal-input {
    font-size: 24px;
  }
  .btn {
    padding: 0 !important;
  }
  .footer {
    font-size: 15px;
  }
  .inputGroup{
    flex-direction: column !important;
  }
  .inputGroup button {
    margin-top: -60px;
    margin-bottom: 50px;
  }
  #binaryInput {
    margin-top: 15px;
  }
}

.inputGroup{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.formula {
  font-family: "Inconsolata", monospace;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
}

/* Button */
.btn {
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 900;
  color: #fff;
  background-color: #f1653a;
  border: 2px solid #f1653a;
  cursor: pointer;
  width: max-content;
  transition: 0.25s ease;
}

.btn-4:hover {
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.1);
  color: #f1653a;
  border-color: transparent;
  background-color: transparent;
}

/* Modal */
#toggle {
  visibility: hidden;
  opacity: 0;
  position: relative;
  z-index: -1;
}

#toggle:checked ~ dialog {
  display: block;
}

label {
  width: 45%;
  background: #f1653a;
  color: white;
  padding: 0.5em 1em;
  border-radius: 4px;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
}
dialog {
  animation: appear 350ms ease-in 1;
  max-width: 500px;
  box-shadow: 10px 10px 51px 6px rgba(0,0,0,0.75);
  border: none;
}